#app
flask
pydantic
gunicorn
msgpack-python
celery[redis]
requests
kombu
flask_swagger_ui

#db
databases[postgresql]==0.4.2
SQLAlchemy==1.4.22
SQLAlchemy-serializer==1.4.1
alembic==1.4.2
PyMySQL==0.9.3
mysqlclient